
      <div class="jumbotron">
        <h1><%=t('jumbotrontop')%></h1>
        <p><%=t('jumbotronmiddle')%></p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
        </p>
      </div>